/* CSS Document */
/* army wives 1st page */

.header {height:89px; background:url(../web-images/headeralt.jpg) top left no-repeat }
.blue {background:url(../web-images/darkblue.jpg) repeat }
body { color:#000000; font-family:"Times New Roman", Times, serif;  background:url(../web-images/blue.jpg) repeat; background-color:#88C2E6 } 

.lists {height:2800px}

.list2 {font:Arial, Helvetica, sans-serif; font-size:12px}
.photo { width:645px; height:400px; background:url(../web-images/photo.jpg) top left no-repeat}
.title {width:645px; height:33px; background:url(../web-images/title.jpg) left no-repeat}
.title h1, .title h2 {font-family:Arial, Helvetica, sans-serif; font-style:italic; font-weight:bold; font-size:20px; padding-left:15px; padding-top:5px}
.content {background-color: #cfe8ff;}
.content p {font-size:14px; padding:10px 10px 15px 15px; line-height:1.5em}
.lists {background:url(../web-images/darkblue.jpg) repeat}
.list1 a:link {color:#492B01}
.list1 a:visited {color:#492B01}
.list1 a:hover {color:#1D1202; text-decoration: underline 2px #1D1202;}
.list1 {background:url(../web-images/lines.jpg)}
.list1 li{height:23.5px; margin-bottom:23px}
.list1 {padding-top:25px; padding-left:25px; font-size:17px; font-weight:bold; padding-bottom:15px}
.list2  li{height:25px; margin-left:10px; font-family:Arial, Helvetica, sans-serif; font-weight:bold}
.list2 a:link {color:#000000; text-decoration:none}
.list2 a:visited {color:#3e2f18; text-decoration:none}
.list2 a:hover {color:#1D1202; text-decoration: underline 2px #1D1202;}
.list2 {padding-left:25px}
/*.ne {margin-top:-70; float:right}*/




.footer {background-color:#D3AC92; font-size:14px; clear:both; text-align:right; padding-right:20px; height: 110px;}
.footer a {text-decoration:none}
.footer a:link {color:#000000}
.footer a:visited {color:#000000}
.footer a:hover {color:#1D1202; text-decoration: underline 2px #1D1202;}

p.bold {font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin:10px 0px 10px 0px; font-size:13px}
.content a:link {color:#10669b}
.content a:visited {color:#00568b}
.content a:hover {color:#003454; text-decoration: underline #003454 2px;}
.right {float: right}


/* /////////////////
Accessibility Fixes
///////////////// */

/* Skip to main content link */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

a.sr-only-focusable:hover, a.sr-only-focusable:focus {
  color: #345c87;
  text-decoration: underline;
}

a.sr-only.skip-link {
  background-color: white;
}


.green-banner-wrapper {
    max-width: 100%;
}

.green-banner {
  background-color: #bbdfbb;
  border-bottom: 2px solid #466f46;
  padding: 15px 20px;
}

.green-banner p {
  margin: 0;
}

.green-banner p a,
.green-banner p a:visited {
  color: #0000EE;
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.green-banner p a:hover {
  background: none;
  color: #010194;
  margin: 0;
  padding: 0;
}